.transactionsTable__wrapper{
    margin:0 2.5rem;
}

.search__wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:1rem;
    width:100%;
    box-shadow: var(--boxShadow);
    padding:.7rem 1rem;
    border-radius: .6rem;
    font-size: "Montserrat , sans-serif" !important;
}

.search__wrapper > input{
    width:100%;
    border:none;
    font-size: 1rem;
    color:var(--black);
}

.search__wrapper > input:focus{
    outline:none;
}

.search__select__wrapper{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap:2rem;
}

.select__wrapper {
  width: 25%;
  /* margin-right: 10px; */
  display: flex;
  align-items: center;
  box-shadow:var(--boxShadow);
  border-radius: 0.5rem !important;
  padding: .4rem 0.5rem;
  height: auto !important;
}

.select__wrapper > div {
  border: 0px solid #fff !important;
}

.radioGroups__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* justify-content: flex-start; */
    margin:1rem .6rem 2.5rem .6rem;
    font-family: 'Montserrat', sans-serif !important;
}

.table__wrapper{
    box-shadow: var(--boxShadow);
    margin:2rem auto;
    padding:2rem 1.5rem;
    border-radius: .5rem;
    text-transform: capitalize !important;
}



.radioGroups__wrapper > h2{
    font-weight: 400;
}

.csv__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.import-input{
    width: 0rem !important;
    height: 0rem !important;
    display: none !important;
}

.responsive__tableHeading{
    display: none;
}


@media screen and (max-width:600px){
    .radioGroups__wrapper{
        flex-direction: column;
        justify-content: center;
        gap:1rem;
    }
    .csv__wrapper{
        width: 90%;
    }
    .radioGroups__wrapper > h2{
        display: none;
    }
    .responsive__tableHeading{
        display: block;
        font-weight: 400;
        text-align: center;
    }
    .input-radio{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

     /* Custom styles for Ant Design Table component */
  .ant-table-wrapper {
    width: 100% !important; 
    overflow-x: auto; /* Allows horizontal scrolling if necessary */
  }

  .ant-table {
    font-size: 12px;
  }

  .ant-table-thead > tr > th, 
  .ant-table-tbody > tr > td {
    padding: 8px !important; 
  }

  .ant-table-tbody > tr > td {
    word-break: break-word; /* Handle long text properly */
  }

  .ant-pagination {
    font-size: 12px !important;
  }
}
    