.transactionsTable__wrapper{
    margin:0 2.5rem;
}

.search__wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:1rem;
    width:100%;
    box-shadow: var(--boxShadow);
    padding:.7rem 1rem;
    border-radius: .6rem;
    font-size: "Montserrat , sans-serif" !important;
}

.search__wrapper > input{
    width:100%;
    border:none;
    font-size: 1rem;
    color:var(--black);
}

.search__wrapper > input:focus{
    outline:none;
}

.search__select__wrapper{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap:2rem;
}

.select__wrapper {
  width: 25%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  box-shadow:var(--boxShadow);
  border-radius: 0.5rem !important;
  padding: .4rem 0.5rem;
  height: auto !important;
}

.select__wrapper > div {
  border: 0px solid #fff !important;
}

.radioGroups__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* justify-content: flex-start; */
    margin:1rem .6rem 2.5rem .6rem;
    font-family: 'Montserrat', sans-serif !important;
}

.table__wrapper{
    box-shadow: var(--boxShadow);
    margin:2rem auto;
    padding:2rem 1.5rem;
    border-radius: .5rem;
    text-transform: capitalize !important;
}

.input-radio{

}

.radioGroups__wrapper > h2{
    font-weight: 400;
}

.import-input{
    width: 0rem !important;
    height: 0rem !important;
    display: none !important;
}
